.comment-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #59081e27;
}

.comment-content-img {
    width: 20vw;
    height: 10vh;
    border-radius: 10%;
    margin-right: 10px;
}

.comment-user-avatar  {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.comment-user-text {
    max-width: 55%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items:flex-start;
    
}

.comment-user-name {
    font-size: 16px;
    font-weight: bolder;
    padding-bottom: 5px;
}

.comment-user-message {
    font-size: 14px;
}

.comment-user-date {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    flex-grow: 1;
    align-items: flex-end;
    padding-right: 5px;
}