.comment-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid #000;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: #59081e46;
}

.comment-user-avatar  {
    width: 18%;
    border-radius: 10px;
}

.comment-user-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-left: 10px;
}

.comment-user-name {
    font-size: 18px;
    font-weight: bolder;
}

.comment-user-message {
    font-size: 16px;
}