.login-screen-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/bg-default.jpg');
    background-size: 80%;
}

.login-screen {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#F3EEEF;
    box-shadow: 0px 4px 15px 0px rgba(89,8,30,0.82);
    border-radius: 10px;
}

.login-logo {
    width: 70%;
    margin-bottom: 15%;
}

.login-content {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-screen-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-screen-buttons > p {
    margin: 5px
}

.font-size-adjust {
    font-size: 0.8em;
}