.login-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-logo {
    width: 70%;
    margin-bottom: 15%;
}

.login-content {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}