.toast {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 300px;
  height: 100px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 900;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
}

.toast > span {
  position: absolute;
  top: 6px;
  right: 8px;
  font-size: 14px;
  line-height: 14px;
  cursor: pointer;
}

.toast--success {
  background-color: #bafdb8e7;
  color: #282c34;
}

.toast--error {
  background-color: #af0a1db6;
  color: #ffffff;
}
