.feed-list-content {
    width: 98%;
    margin: 0 auto;
}

.feed-filter {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
}

.feed-filter-tags {
    max-width: 300px;
}

.feed-img-content {
    width: 15%;
    margin-left: 8px;
}

.search-img {
    width: 100%;
}