.register-user-screen-full {
  background-image: url('../../../assets/images/bg-default.jpg');
}

.register-user-screen-bg {
  background-color: #F3EEEF;
  box-shadow: 0px 4px 15px 0px rgba(89,8,30,0.82);
    border-radius: 10px;
}

.register-user-screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.register-user-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0;
}

.register-user-header p {
  font-size: 20px;
}

.register-user-logo {
  width: 30%;
}

.register-user-content {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-user-content-artist {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register-user-login-label{
  margin: 0;
}

.register-user-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-user-select-label{
  margin: 15px 0 0 0;
}

.register-user-screen-btns {
  padding-bottom: 30px;
}

.register-user-btn-label {
  color: #a68689;
  font-size: 16px;
}
