.post-screen-content {
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.post-screen-info-text > p {
    margin: 0;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

.post-screen-info {
    display: flex;
    width: 90%;
    align-items: center;
    border: 2px dashed rgb(136, 136, 136);
    border-radius: 5px;
    padding: 5px;
}

.post-screen-info-icon {
    width: 10%;
}

.info-icon {
    width: 100%;
}

.post-screen-comments {
    min-height: 30vh;
    height: 30vh;
    overflow-y: scroll;
    padding-top: 10px;
    box-shadow: 0px 4px 10px 0px rgba(89,8,30,0.82);
}

.post-screen-input-comment {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.post-screen-input {
    box-shadow: 0px 4px 8px 0px rgba(89,8,30,0.82);
}

.post-screen-send {
    width: 18%;
    height: 80%;
    border: 1px solid #000;
    background-color: #59081e46;
    border-radius: 50%;
    padding: 8px;
    margin-left: 10px;
}